@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

.idx {
  max-width: 540px;
  height: auto;
  margin: 0 auto;
  background: #001564;
  color: white;
  border-radius: 15px;
  overflow: hidden;
}

.idx .right-border {
  position: relative;
}
.idx .right-border::before {
  content: "";
  width: 2px;
  height: 90px;
  background: #424ca5;
  position: absolute;
  right: 0;
  top: -20px;
}

.list-system {
  width: 540px;
  margin: 16px auto;
}

.list-system .fa,
.list-system svg {
  font-size: 40px;
  color: #001564;
  margin-bottom: 8px;
}

.list-system p {
  color: #001564;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.list-system .box {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 15px;
  padding: 8px;
  transition: all ease-in-out 0.3s;
}

.list-system .box:hover {
  background: white;
}

.list-system {
  height: 70px;
  margin-bottom: 30px;
  ul {
    li {
      width: calc(25% - 8px);
      display: inline-block;
      float: left;
      margin-right: 8px;

      &::last-child {
        margin-right: 0;
      }

      .sys {
        text-align: center;
        background: white;
        border-radius: 15px;
        padding: 8px;
        color: $theme-color;

        .icon {
          display: block;
          margin: 0 auto;
          height: 32px;
          margin-bottom: 8px;
        }
      }
    }
  }
}
.tri-pattern {
  background: url(../revolution/assets/demo/ptba/pattern.png) repeat center left;
}

.news-carousel .owl-dots {
  position: absolute;
  left: 0;
  bottom: 16px;
}

.owl-carousel .owl-dots .owl-dot:hover span,
.owl-carousel .owl-dots .owl-dot.active span {
  background: #001564;
}

.owl-carousel .owl-dots .owl-dot span {
  background: white;
}

.news-carousel {
  .picture {
    width: 100%;
    max-height: 400px;
    height: 100%;
    display: block;
    background-size: contain;
  }
}

// .owl-carousel .owl-item img {
//   height: 410px;
// }

.p-list {
}
.p-list ul {
  list-style-type: none;
}
.p-list ul li {
  width: 100%;
  border-bottom: 1px solid $white;
  padding: 15px 0;
}
.p-list ul li p.date {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $white;
  margin-bottom: 8px;
}
.p-list ul li h3 {
  display: block;
  color: $white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
}
.text-blue {
  color: #001564;
}

/* box animation */
.box-container {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box-container .boxing {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow ease 1s;
  transition: -webkit-box-shadow ease 1s;
  transition: box-shadow ease 1s;
  transition: box-shadow ease 1s, -webkit-box-shadow ease 1s;
}

.box-container .icon {
  position: relative;
  margin-top: 8px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transition-delay: 0.32s;
  transition-delay: 0.32s;
  will-change: transform;
}

.box-container .icon_bg {
  position: absolute;
  top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid rgba(225, 227, 232, 0.18);
  -webkit-box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
  box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transition-delay: 0.32s;
  transition-delay: 0.32s;
  will-change: transform;
}

.box-container .title {
  position: relative;
}

.super-box:hover .boxing {
  /*   border: 1px solid rgba(225, 227, 232, 0.18); */
  -webkit-box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
  box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
  -webkit-transition-delay: 0.32s;
  transition-delay: 0.32s;
}

.super-box:hover .icon_bg {
  -webkit-transform: translateY(-32px) scale(6);
  transform: translateY(-32px) scale(6);
}

.super-box:hover .icon {
  -webkit-transform: translateY(-5px) scale(1.8);
  transform: translateY(-5px) scale(1.8);
}

.super-box {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.box-container .text {
  position: relative;
  top: -32px;
  width: 200px;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0.32s;
  transition-delay: 0.32s;
}

.super-box:hover .text {
  opacity: 0;
  -webkit-transform: translateY(-4px) scale(0.8);
  transform: translateY(-4px) scale(0.8);
}

.box-container .boxing::after {
  content: "";
  position: absolute;
  width: 170px;
  top: 71px;
  opacity: 0;
  font-size: 13px;
  color: #5d6494;
  line-height: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-delay: 0.32s;
  transition-delay: 0.32s;
}

.super-box:hover .boxing::after {
  opacity: 1;
}

.box-container .dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}

.box-container .boxing.sistem::after {
  content: "SISTEM PENGADUAN";
  text-align: center;
}
.box-container .boxing.procurement::after {
  content: "E-PROCUREMENT";
  text-align: center;
}
.box-container .boxing.laporan::after {
  content: "LAPORAN TAHUNAN";
  text-align: center;
}

.box-container .boxing.press::after {
  content: "SIARAN PERS";
  text-align: center;
}

.wrapper {
  overflow: hidden;
}

// custom menu
.mega-menu {
  .drop-down {
    height: 272px;

    .grid-col-3 > ul {
      position: relative;

      &::before,
      &::after {
        content: "";
        width: 1px;
        background: $black-20;
        height: 280px;
        position: absolute;
        top: 0;
      }

      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }

    li {
      height: 34px;
      padding: 0px;
      display: flex;
      align-items: center;

      &:hover {
        background: $theme-color;
        border-left: 4px solid $yellow;

        > a,
        i.fa {
          color: $white;
        }
      }

      a {
        display: flex;
        padding-left: 16px;
        align-items: center;

        i.fa {
          margin-left: auto;
        }
      }
    }

    .drop-down-multilevel {
      &::after {
        content: "";
        width: 1px;
        background: $black-20;
        height: 280px;
        position: absolute;
      }

      &::after {
        right: 0;
      }
    }
  }
}
.dropdownright {
  &.activeTrigger {
    background: $theme-color;
    border-left: 4px solid $yellow;

    > a,
    i.fa {
      color: $white;
    }
  }
}

.list-category {
  margin-bottom: 32px;
  text-align: center;

  ul {
    display: inline-block;
    justify-content: center;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-right: none;
    border-left: none;
    padding: 16px 0;
    list-style-type: none;
    text-align: center;

    li {
      position: relative;
      display: inherit;
      padding-left: 16px;

      &::before {
        content: "•";
        margin-left: 0;
        position: absolute;
        top: 9px;
        left: 10px;
      }

      a {
        margin-right: 16px;
        color: $text-dark-gray;
        display: block;

        &:hover {
          color: $theme-color;
        }
      }
    }
  }
}
// end of custom menu

.text-column-2 {
  columns: auto 2;
}

.end-word-box {
  padding: 40px;

  h2,
  p {
    color: white;
  }
}

.page-title {
  max-height: 440px;
}

.grid-lightbox {
  width: 100%;
  max-height: 473px;
  // height: 100%;
  overflow: hidden;
}
.modal-title {
  width: 100%;
}

.img-responsive {
  width: 100%;
}
.img-full {
  width: 100%;
  height: 100%;
}

.history-section {
  background: url(../images/ptba/bg-sejarah.jpg) no-repeat bottom center;
  background-size: contain;
  padding-bottom: 280px;
}
.history-carousel {
  &::before {
    content: "";
    height: 4px;
    background-color: $yellow;
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
  }

  .owl-nav {
    display: block !important;

    .owl-prev,
    .owl-next {
      top: 15px;
    }
  }

  .owl-item {
    padding: 0 20px 0 60px;
  }
}
.history {
  > .title {
    font-family: $font-hedding;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: $theme-color;
    background: $white;
    display: inline-block;
    padding: 0 10px;
  }
  > p.subtitle {
    color: $text-black;
    font-size: 18px;
    padding: 0 10px;
  }
  > p {
    font-size: 14px;
    padding: 0 10px;
  }
}

.video-description {
  max-width: 550px;
  .video-title {
    font-family: $font-base;
    font-size: 32px;
    color: $white;
  }

  p {
    color: $white;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-play {
  position: absolute;
  top: calc(50% - 37px);
  width: 75px;
  height: 75px;
  left: calc(50% - 37px);
}

.feature-text-custom {
  display: flex;
  height: calc(100% - 30px);

  .feature-icon {
    img {
      width: 40px;
      height: 40px;
    }
  }
  .feature-info {
    padding-left: 24px;
  }
}

.img-logo {
  max-height: 70px;
  height: 100%;
}

.change-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;

  img {
    visibility: hidden;
  }

  &.generik {
    background-image: url(../images/ptba/icon-generik-bw.png);

    &:hover {
      background-image: url(../images/ptba/icon-generik.png);
    }
  }
  &.pembangkit {
    background-image: url(../images/ptba/icon-listrik-bw.png);

    &:hover {
      background-image: url(../images/ptba/icon-listrik.png);
    }
  }
  &.hilirisasi {
    background-image: url(../images/ptba/icon-pembangkit-bw.png);

    &:hover {
      background-image: url(../images/ptba/icon-pembangkit.png);
    }
  }
}

@keyframes cf3FadeInOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  45% {
    opacity: 1;
    transform: scale(1.5);
  }
  55% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.anitrans {
  transform: scale(1.1);
}

#cf3 {
  position: relative;
  width: 200px;
  height: 200px;
}
#cf3 img {
  position: absolute;
  left: 0;

  &.top {
    // animation-name: cf3FadeInOut;
    // animation-timing-function: linear;
    // animation-iteration-count: infinite;
    // animation-duration: 3s;
    // animation-direction: normal;
    z-index: 1;
  }
  &.bottom {
    top: 9px;
  }
}
// .step-1 {
//   animation: cf3FadeInOut 3s forwards;
// }
// .step-2 {
//   animation: cf3FadeInOut 3s forwards;
//   animation-delay: 3s;
// }
// .step-3 {
//   animation: cf3FadeInOut 3s forwards;
//   animation-delay: 6s;
// }

// section:hover .title-effect:nth-child(even),
// section:focus .title-effect:nth-child(even)
// {
//   color: red;
// }
// section:hover .title-effect::before, section:focus .title-effect::before {transform: scale3d(1,1,1); }
// section:hover .title-effect:nth-child(even), section:focus .title-effect:nth-child(even) { color: #84ba3f; }

.home-slider {
  .detail-big-car-gallery {
    .img-fluid {
      width: 100%;
    }
    // .slick-list {
    //   &::after {
    //     content:"";
    //     width: 100%;
    //     height: 100%;
    //     background: url(../images/ptba/slider-graph.png) no-repeat center bottom;
    //     position: absolute;
    //     bottom: 0;
    //     left:0;
    //     background-size: contain;
    //     z-index: 20;
    //   }
    //   &::before {
    //     content:"";
    //     width: 100%;
    //     height: 100%;
    //     background: url(../images/ptba/slider-cover.png) no-repeat center right;
    //     position: absolute;
    //     bottom: 0;
    //     left:0;
    //     background-size: cover;
    //     background-position-x: 70px;
    //     z-index: 10;
    //   }
    // }
  }

  // .slick-slide{
  //   max-height: 800px;

  //   img {
  //     object-fit: contain;
  //     object-position: left;
  //     width: 100%;
  //     max-height: 800px;
  //   }

  // }

  // .text-wrapper {
  //   position: absolute;
  //   right: 2%;
  //   top:22%;
  //   z-index: 50;
  //   width: 400px;

  //   h2 {
  //     font-family:'gothambold';
  //     font-style: normal;
  //     font-weight: bold;
  //     font-size: 64px;
  //     line-height: 61px;
  //     color: #fff;
  //   }
  //   h3 {
  //     font-family: 'gothammedium';
  //     font-style: normal;
  //     font-weight: normal;
  //     font-size: 35px;
  //     line-height: 122.5%;
  //     color: #fff;
  //   }
  // }
  .nav-item {
    position: relative;
    padding: 24px;
    height: 110px;
    width: 33%;
    background-size: cover;
    background-position: center;

    p {
      color: #fff;
    }
    a {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #f6c545;
    }

    img {
      position: absolute;
      top: 0;
    }

    &.slick-current {
      background-color: #001564;
      background-image: none !important;
    }
  }
}

.tp-revslider-slidesli {
  .slotholder:first-child {
    z-index: 10 !important;
  }
}
.hero-caption-img {
  img {
    width: 100% !important;
    height: 100% !important;
  }
}

.rev_slider {
  overflow: visible;
}

.mini-index {
  position: absolute;
  bottom: 40px;
  right: 40px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: $fs-20;
  background: $white;
  border-radius: 12px;
  overflow: hidden;

  .bg-green {
    background-color: $theme-color;
    color: $white;
    padding:20px;
    height: 100%;
    display: flex;
    align-items: center;

  }
  .index-text {
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #383838;

    div {
      font-size: $fs-16;
      margin-left: 4px;
    }
  }
}

.bg-green-light {
  background: rgba(141, 198, 63, 0.1);
}
.icon-wrapper {
  background:$white;
  width:100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  transition: all ease .2s;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.12);
  }

  img {
    width: 75px;
    height: auto;
  }
  
  p {
    color: $theme-color;
    font-family: $font-base;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    margin-top:24px;
  }
}

// banner carousel
.banner-carousel {
  margin-top: 115px;

  .owl-stage-outer {
    overflow: visible;
  }

  .banner-item {
    border-radius: 15px;
    overflow: hidden;
  }
}

// home section
.home-section {
  padding:115px 0;
  
  .section-title {
    margin-bottom: 70px;
    h6 {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        width: 60px;
        height: 0px;
        border: 1px solid $theme-color;
        margin-right: 15px;
      }
    }
    h2 {
      font-size: $fs-48;
    }
  }
}

.home-news {
  .news-image {
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    overflow: hidden;

    img {
      width:100%;
      height:404px;
      object-fit: cover;
    }
  }
  .news-date {
    color: #7D7D7D;
    margin-top: 35px;
  }
  h2 {
    font-size: 24px;
    margin-top: 15px;
    line-height: 23px;
    font-weight: 700;
  }
}

.home-news-list {
  padding-left: 55px;

  a + a {
    margin-top: 55px;
    display: block;
  }
}

// btn 2022
.btn-2022 {
  width: 200px;
  height: 50px;
  background: #FFC40C;
  border-radius: 5px;
  flex: none;
  border:none;
  color: $white;
  font-family: $font-base;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  text-transform: capitalize;

  &:hover {
    background: darken($color: #FFC40C, $amount: 10);
  }
}

.social-info {
  // background-image: url(../images/ptba/bg-section-4.jpg);
}

.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.social-info {
  .section-title {
    margin-bottom: 15px;

    h6 {
      justify-content: start;
      color: $white;
    }
  }
}

.footer {
  .logo-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    isolation: isolate;
  }
}