

.page-title, .page-title-2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	// padding-top: 250px;
	// padding-bottom: 100px;
	position: relative;
	height: 440px;
	.container {
		height: 100%;
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	span {
		text-transform: capitalize;
	}
	h1 {
		text-transform: capitalize;
		color: $white;
		font-weight: $fw-6;
		font-size: $fs-54;
	}
	p {
		font-size: $fs-18;
		text-transform: capitalize;
		color: $white;
	}
	.page-title-name {
		display: inline-block;
		width: 100%;
		text-align: center;
		
	}
	.page-breadcrumb {
		float: left;
		width: 40%;
		text-align: left;
	}
}
.page-title-2 {
	.container {
		justify-content: start;
	}
}
.page-title.bg-overlay-black-60 {
	&:before {
		z-index: 0;
	}
}
ul.page-breadcrumb, ul.page-breadcrumb-2 {
	width: 100%;
	background: $theme-blue;
	padding: 15px 0;
	text-align: center;
	li {
		span {
			color: $white;
			font-size: $fs-18;
			text-transform: capitalize;
		}
		color: $white;
		display: inline-block;
		list-style: none;
		i {
			font-size: $fs-18;
			padding: 0 7px;
		}
		a {
			color: $white;
			font-size: $fs-18;
			text-transform: capitalize;
			&:hover {
				color: $theme-color;
			}
		}
		&:last-child {
			span {
				color:$theme-yellow;
			}
		}
	}
}
ul.page-breadcrumb-2 {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
	width: auto;
	padding: 20px 45px;
	background: $white;
	border-radius: 15px 15px 0 0;

	li {
		position: relative;
		a {
			color: $text-black;
			font-weight: 700;
		}
		&:last-child {
			span {
				color:$theme-blue;
				font-weight: 700;
			}
		}

		& + li {
			padding-left: 20px;
			&:before {
				top: 5px;
				left: 8px;
				padding: 0;
				width: 2px;
				content: "";
				height: 18px;
				position: absolute;
				background-color: #121e2d;
			}
		}
	}
}
.page-title.gray-bg {
	h1 {
		color: $black;
	}
	p {
		color: $black;
	}
	ul.page-breadcrumb {
		li {
			a {
				color: $black;
				&:hover {
					color: $theme-color;
				}
			}
			color: $black;
			span {
				color: $theme-color;
			}
		}
	}
}
.page-title.center {
	text-align: center;
	.page-title-name {
		display: block;
		width: inherit;
	}
	.page-breadcrumb {
		float: none;
		width: inherit;
		text-align: center;
	}
}
.page-title.right {
	clear: both;
	.page-title-name {
		display: inline-block;
		float: right;
		text-align: right;
	}
	.page-breadcrumb {
		float: left;
		text-align: left;
	}
}
.page-title.small {
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	h1 {
		font-size: 22px;
		line-height: 24px;
		margin-bottom: 0px;
		margin-top: 8px;
	}
	.page-breadcrumb {
		padding-top: 10px;
	}
}
.page-title.pattern {
	h1 {
		color: $black;
	}
	p {
		color: $black;
	}
	ul.page-breadcrumb {
		li {
			a {
				color: $black;
				&:hover {
					color: $theme-color;
				}
			}
			color: $black;
			span {
				color: $theme-color;
			}
		}
	}
}
.page-title.light-overlay {
	position: relative;
	padding-top: 360px;
	&:before {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		content: "";
		background: url(../images/white-overlay.png);
		background-repeat: repeat-x;
		background-position: bottom;
	}
	h1 {
		color: $black;
	}
	p {
		color: $black;
	}
	ul.page-breadcrumb {
		li {
			a {
				color: $black;
				&:hover {
					color: $theme-color;
				}
			}
			color: $black;
			span {
				color: $theme-color;
			}
		}
	}
}
.page-title.dark-overlay {
	position: relative;
	padding-top: 360px;
	&:before {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		content: "";
		background: url(../images/dark-overlay.png);
		background-repeat: repeat-x;
		background-position: bottom;
	}
}

.page-title.wave {
	&:after {
		content: " ";
		background: url(../images/ptba/bg-wave-header.svg);
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: -20px;
		left: 0;
		right: 0;
	}
}